@import url("../fonts/noto_sans/stylesheet.css");
* {
  font-family: "Noto Sans";
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  padding: 0;
  margin: 0;
}

.container {
  container-type: inline-size;
  min-height: 100vh;
}

.top_banner,
.popup_banner {
  background-color: #101010;
}

.top_banner {
  margin-top: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_banner img {
  height: 100%;
}
.top_banner .top_banner_content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.top_banner .top_banner_content .top_banner_content_title {
  color: #fff;
}
.top_banner .top_banner_content .top_banner_content_subtitle {
  color: #D7A830;
}
.top_banner .top_banner_content .top_banner_content_text {
  color: #fff;
  font-weight: 100;
}
.top_banner .top_banner_content .top_banner_content_text span.orange {
  color: #D7A830;
}
.top_banner .top_banner_buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.top_banner .top_banner_buttons .top_banner_buttons_link {
  background-color: white;
  border-radius: 100px;
  padding: 8px 24px;
}
.top_banner .top_banner_buttons .top_banner_buttons_link .top_banner_buttons_link_text {
  background: linear-gradient(to right, #818181, #0b0b0b 30%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.top_banner .top_banner_buttons .top_banner_buttons_close,
.top_banner .top_banner_buttons .top_banner_buttons_arrow {
  margin-right: 22px;
  height: 30px;
  background: none;
  color: #5b5b59;
  transition: 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.top_banner .top_banner_buttons .top_banner_buttons_close svg,
.top_banner .top_banner_buttons .top_banner_buttons_arrow svg {
  width: 30px;
  height: 30px;
}
.top_banner .top_banner_buttons .top_banner_buttons_close:hover,
.top_banner .top_banner_buttons .top_banner_buttons_arrow:hover {
  color: #fff;
}
.top_banner .top_banner_buttons .top_banner_buttons_arrow svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.popup_banner {
  background: #101010 url("../img/gifts-full.jpg") no-repeat left top;
  background-size: contain;
  position: fixed;
  right: 30px;
  bottom: 30px;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.popup_banner.hide {
  opacity: 0;
  right: -630px;
}
.popup_banner .popup_banner_close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: #5b5b59;
  transition: 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.popup_banner .popup_banner_close svg {
  width: 30px;
  height: 30px;
}
.popup_banner .popup_banner_close:hover {
  color: #fff;
}
.popup_banner .popup_banner_content {
  text-align: center;
  padding: 80px 30px 50px 30px;
}
.popup_banner .popup_banner_content .popup_banner_content_title {
  color: #fff;
  font-size: 46px;
}
.popup_banner .popup_banner_content .popup_banner_content_subtitle {
  background: linear-gradient(to right, #7d5317, #eddf95);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 40px;
  margin: 30px 0;
  font-weight: bold;
}
.popup_banner .popup_banner_content .popup_banner_content_text {
  color: #6C6C70;
  margin-bottom: 40px;
}
.popup_banner .popup_banner_content .popup_banner_content_text span.orange {
  color: #D7A830;
}
.popup_banner .popup_banner_content a {
  text-decoration: none !important;
}
.popup_banner .popup_banner_content .popup_banner_content_link {
  display: inline-block;
  background-color: #232323;
  color: #e6e6e6;
  border-radius: 14px;
  padding: 12px 24px;
  transition: 0.2s ease-in-out;
}
.popup_banner .popup_banner_content .popup_banner_content_link:hover {
  background-color: #feffff;
  color: #585858;
}

@container (max-width: 720px) {
  .no-mobile {
    display: none !important;
  }
  .top_banner img {
    margin-left: -50px;
  }
  .popup_banner {
    right: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background-position: -180px 0;
    justify-content: center;
  }
}
@container (min-width: 720px) and (max-width: 950px) {
  .popup_banner {
    right: 17px;
  }
  .no-tablet {
    display: none !important;
  }
  .top_banner {
    padding-right: 24px;
  }
  .only-mobile {
    display: none !important;
  }
}
@container (min-width: 950px) {
  .only-mobile {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */